<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Demo-Site</title>
    <script>
        function editBio() {
            var bio = document.getElementById("bio");
            var biobody = document.getElementById("biobody");
            bio.innerHTML = "<textarea id='biobody'>" +
                biobody.innerText +
                "</textarea><button onclick='updateBio();'>Submit</button>";
        }

        function updateBio() {
            var editablebiobody = document.getElementById("biobody");
            var req = new XMLHttpRequest();
            req.open('PATCH', '/api/user/1', false);
            console.log(editablebiobody.value)
            req.send(editablebiobody.value);
            if (req.status === 200) {
                var bio = document.getElementById('bio');
                bio.innerHTML = "<div id='biobody'>" +
                    JSON.parse(req.responseText).bio +
                    "</div><button onclick='editBio();'>edit</button>";
            }
        }
    </script>
</head>
<body>
<h1>User</h1>
{{user.username}}
<h1>Biography:</h1>
<div id="bio">
    <div id="biobody">
        {{user.bio | safe}}
    </div>
    <button onclick="editBio();">edit</button>
</div>
</body>
</html>
